<!DOCTYPE html>
<html lang="en" class="m-0 p-0 bg-gradient-to-tl from-pink-200 via-blue-200 to-green-50">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Toolbox", suffix: " · 3wirebuild" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col max-w-xs m-auto">

    <header>
      <div>
        <%= if @conn.assigns.current_user do %>
          <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
          <li><%= link "Logout", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
        <% end %>
       </div>
    </header>

    <%= @inner_content %>

  </body>
</html>
